.rake_test_cache
roles/*.json
environments/*.json
data_bags/*.json

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/knife.rb
config/knife.rb
.chef/encrypted_data_bag_secret
.chef/syntax_check_cache/
