[submodule "cookbooks/chef-aggregator"]
	path = cookbooks/chef-aggregator
	url = https://github.com/peychart/chef-aggregator
[submodule "cookbooks/openldap"]
	path = cookbooks/openldap
	url = https://github.com/sitle/openldap
[submodule "cookbooks/chef-haclusters"]
	path = cookbooks/chef-haclusters
	url = https://github.com/peychart/chef-haclusters.git
[submodule "cookbooks/chef-ldap-checkbackend"]
	path = cookbooks/chef-ldap-checkbackend
	url = https://github.com/peychart/chef-ldap-checkbackend.git
[submodule "cookbooks/cookbook-snmp"]
	path = cookbooks/cookbook-snmp
	url = https://github.com/atomic-penguin/cookbook-snmp.git
[submodule "cookbooks/chef-nodeAttributes"]
	path = cookbooks/chef-nodeAttributes
	url = https://github.com/peychart/chef-nodeAttributes.git
[submodule "cookbooks/sysctl"]
	path = cookbooks/sysctl
	url = https://github.com/onehealth-cookbooks/sysctl.git
[submodule "cookbooks/limits"]
	path = cookbooks/limits
	url = https://github.com/jrwesolo/limits.git
[submodule "cookbooks/haproxy"]
	path = cookbooks/haproxy
	url = https://github.com/hw-cookbooks/haproxy.git
	branch = develop
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai.git
[submodule "cookbooks/chef-squidGuard"]
	path = cookbooks/chef-squidGuard
	url = https://github.com/peychart/chef-squidGuard.git
[submodule "cookbooks/chef-lvm"]
	path = cookbooks/chef-lvm
	url = https://github.com/peychart/chef-lvm.git
[submodule "cookbooks/chef-squid_ldap_auth"]
	path = cookbooks/chef-squid_ldap_auth
	url = https://github.com/peychart/chef-squid_ldap_auth.git
[submodule "cookbooks/chef-delegate"]
	path = cookbooks/chef-delegate
	url = https://github.com/peychart/chef-delegate.git
[submodule "cookbooks/chef-iproute2"]
	path = cookbooks/chef-iproute2
	url = https://github.com/peychart/chef-iproute2.git
[submodule "cookbooks/chef-qmail"]
	path = cookbooks/chef-qmail
	url = https://github.com/stephaneLII/chef-qmail.git
[submodule "data_bags"]
	path = data_bags
	url = https://gitlab.gov.pf/infrastructure/chef-data_bags.git
[submodule "roles"]
	path = roles
	url = https://gitlab.gov.pf/infrastructure/chef-roles.git
[submodule "cookbooks/chef-specific.gov.pf"]
	path = cookbooks/chef-specific.gov.pf
	url = https://github.com/peychart/chef-specific.gov.pf.git
[submodule "cookbooks/chef-hostsfile"]
	path = cookbooks/chef-hostsfile
	url = https://github.com/peychart/chef-hostsfile.git
[submodule "cookbooks/mataara"]
	path = cookbooks/mataara
	url = https://gitlab.gov.pf/infrastructure/chef-mataara.git
[submodule "cookbooks/samba"]
	path = cookbooks/samba
	url = https://github.com/sitle/chef-samba.git
