[submodule "cookbooks/chef-aggregator"]
	path = cookbooks/chef-aggregator
	url = https://github.com/peychart/chef-aggregator
[submodule "cookbooks/chef-iproute2"]
	path = cookbooks/chef-iproute2
	url = https://github.com/peychart/chef-iproute2
[submodule "cookbooks/openldap"]
	path = cookbooks/openldap
	url = https://github.com/sitle/openldap
[submodule "cookbooks/chef-haclusters"]
	path = cookbooks/chef-haclusters
	url = https://github.com/peychart/chef-haclusters.git
[submodule "cookbooks/chef-ldap-checkbackend"]
	path = cookbooks/chef-ldap-checkbackend
	url = https://github.com/peychart/chef-ldap-checkbackend.git
[submodule "cookbooks/cookbook-snmp"]
	path = cookbooks/cookbook-snmp
	url = https://github.com/atomic-penguin/cookbook-snmp.git
[submodule "cookbooks/chef-nodeAttributes"]
	path = cookbooks/chef-nodeAttributes
	url = https://github.com/peychart/chef-nodeAttributes.git
